[Unit]
Description=Raspberry Pi telemetry module
Documentation=https://www.github.com/garethhowell/pi-telemetry

[Service]
EnvironmentFile=/etc/default/pi-telemetry
Restart=no
ExecStart=/usr/local/bin/pi-telemetry --client $[CLIENT] --mqtt_broker ${MQTT_BROKER} --mqtt_base_topic ${MQTT_BASE_TOPIC} --ic2-base-dir ${IC2_BASE_DIR} --log-level ${LOGLEVEL} --update ${UPDATE_INTERVAL}

[Install]
WantedBy=multi-user.target
