[Unit]
Description=Raspberry Pi telemetry module
Documentation=https://www.github.com/garethhowell/pitelemetry

[Service]
Type=simple
Restart=no
ExecStart=/usr/local/bin/pitelemetry /etc/pitelemetry.yaml

[Install]
WantedBy=multi-user.target
